h1{
    display: none;
}

nav{
    margin: 0 30px 0 60px;
    padding:30px;
    padding-left: 0;
    padding-right: 0;
    position: fixed;
    width: 100%;
    z-index: 1;
}

a{
    text-decoration: none;
    color: white;
    font-weight: 600;
    height: 30px;
}

.topBar{
    margin-top: 20px;
    overflow: hidden;
}

li{
    float: left;
}

.logo{

    float: left;
    display: block;
    margin-right: 200px;

}

.menu{
    margin-right: 180px;
    font-size: 18px;
}

.login{
    margin-right: 10px;
    padding-left: 40px;
    padding-right: 10px;
    border-right: 1px solid white;
    font-size: 13px;
}

.signIn{
    font-size: 14px;
}
.backImg{
    width: 100%;
    height: 937px;
}

.container{
    
    position: relative;
    text-align: center;
    color: white;
}

.ksfInfo_intro
{
    position:absolute;

    top:40%;
    left: 15%;

    font-size: 24px;
}
.ksfInfo1{
    position:absolute;
    
    top:50%;
    left: 15%;
    
    text-align: left;
    font-size: 60px;
}

.detailBox1{
    position:absolute;
    
    top: 70%;
    left: 15%;

    border: 1px solid white;
    border-radius: 100px;

    font-size: 16px;
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 15px;
    padding-bottom: 5px;

}

.container2{
    position: relative;
    text-align: center;
    color: white;
}


.ksfInfo_intro2 {
    position:absolute;

    top:40%;
    left: 15%;

    font-size: 24px;
}
.ksfInfo2{
    position:absolute;
    
    top:50%;
    left: 15%;
    
    text-align: left;
    font-size: 60px;

}

.detailBox2{
    position:absolute;
    
    top: 70%;
    left: 15%;

    border: 1px solid white;
    border-radius: 100px;

    font-size: 16px;
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 15px;
    padding-bottom: 5px;
}

.container3{
    position: relative;
    text-align: center;
    color: white;
}


.ksfInfo_intro3 {
    position:absolute;

    top:40%;
    left: 15%;

    font-size: 24px;
}

.ksfInfo3{
    position:absolute;
    
    top:50%;
    left: 15%;
    
    text-align: left;
    font-size: 60px;
}




.detailBox3{
    position:absolute;
    
    top: 75%;
    left: 15%;

    border: 1px solid white;
    border-radius: 100px;

    font-size: 16px;
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 15px;
    padding-bottom: 5px;
    
}

.secSection{

    width: 100%;
    height: 717px;
    display: flex;
    
}

.variety{
    padding-top: 300px;
    padding-left: 300px;
    padding-right: 150px;
    
}

.variety_bold{
    font-size: 44px;
    line-height:60px;
}

.variety_small{
  font-size: 17px;
  line-height:30px;
  color: #888;
}

.graph{
    padding-top: 250px;

}

strong{
    font-weight: 600;
}
